$base-unit: 4px;

$font-xSmall: 10px;
$font-small: 12px;
$font-body: 16px;
$font-medium: 20px;
$font-Large: 24px;
$font-xLarge: 32px;
$font-xxLarge: 40px;

$small-breakpoint: 768px;
$mobile-breakpoint: 480px;
$large-breakpoint: 1200px;
